@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

/* General styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

/* My universal classes */
.bold {
  font-weight: 700;
  line-height: 52px;
}

.regular {
  font-weight: 400;
  line-height: 28px;
}

.semi-bold {
  font-weight: 600;
  line-height: 32px;
}

.big-font {
  font-size: 40px;
}

.regular-font {
  font-size: 20px;
}

.color1 {
  color: #172b4d;
}

.color2 {
  color: #36b37f;
}

.center-text {
  text-align: center;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center-align {
  align-items: center;
}

.wrapper {
  width: 100%;
  height: auto;
}

.container,
.container1 {
  padding: 64px 24px;
  margin: 0 auto;
  width: 100%;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

/* Toggle nav styles
.blur {
  filter: blur(3px);
}

.mobile-nav{
  min-height: 100vh;
  background: #ffffff;
  width: 100%;
  position: absolute;
  top: 50px;
  z-index: 10;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

#toggle-menu-close {
  color: #67798e;
} */

/* Header Styling */
header {
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  flex-wrap: wrap;
}

#toggle-menu,
#toggle-menu-close {
  z-index: 100;
  padding-right: 20px;
}

#toggle-menu-close {
  font-size: 28px;
  color: #67798e65;
}

#logo {
  color: #28352f;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

#navbar {
  width: 100%;
  background: #fff;
}

.mobile-nav {
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 40px;
  min-height: 94vh;
  background: #fff;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border-radius: 0 0 30px 30px;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.2);
}

.mobile-nav li a {
  font-size: 32px;
  line-height: 70px;
}

/* Headline section style */
#headline {
  align-items: center;
  background: url(assets/img/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  background-position-x: center;
}

.social {
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.social li a {
  display: block;
  padding: 10px;
  color: #505f79;
}

#desc {
  margin: 60px auto;
}

#down-arrow {
  border: 1px solid #dfe1e6;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
  font-size: 15px;
}

/* Work section style */
.title {
  padding: 24px;
  position: relative;
}

.title::after {
  content: "";
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -24px;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-row-gap: 24px;
  grid-column-gap: 20px;
  margin: 60px auto;
  width: 100%;
}

.grid-item {
  height: auto;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  width: 100%;
  max-width: 370px;
  margin: 0 auto;
}

.grid-item figure {
  min-height: 260px;
  height: auto;
  width: 100%;
  border-radius: 8px 8px 0 0;
  background: #ebf0ee;
}

.work-desc {
  padding: 16px 0 24px 0;
  margin-top: -10px;
  border-radius: 8px;
  background: #fff;
  color: #3a4a42;
  align-items: center;
}

.work-title {
  font-size: 24px;
}

.language {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 16px 0 29px 0;
}

.language li {
  background: #ebf0ee;
  border-radius: 4px;
  padding: 8px 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin: 0 3px;
  margin-bottom: 7px;
}

.btn {
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 00.03em;
  transition: box-shadow 1s ease-in-out 10ms, background 0.5s ease-in-out 10ms;
}

.btn:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.btn:active {
  background: #008552;
}

/* About section style */
#about {
  padding-left: 0;
  padding-right: 0;
}

#about-bg {
  background: url(assets/img/illustration-about-me-mobile.svg);
  background-repeat: no-repeat;
  background-position-x: center;
}

.about-grid {
  padding: 0 24px;
}

.about-desc {
  margin: 24px auto;
}

.about-icons {
  height: 80px;
  width: 80px;
  margin: 40px auto 64px auto;
  border-radius: 50%;
  background: #fff;
  padding: 18px;
}

.about-item {
  padding: 0 20px 70px 20px;
  background: #ebf0ee;
}

.about-lang {
  flex-wrap: wrap;
  margin: 16px 0;
}

.about-lang li {
  background: #fff;
}

/* Contact section style */
section#contact {
  background: url(assets/img/illustration-contact-form.svg);
  background-repeat: no-repeat;
  background-position: 320px bottom;
}

#contact-form {
  width: 100%;
  padding-top: 58px;
}

#contact-form input,
#contact-form textarea {
  display: inline-block;
  width: 100%;
  height: 48px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  padding-left: 16px;
  margin-bottom: 24px;
}

#contact-form textarea {
  height: 114px;
  border: 1px solid #60c095;
}

/* Footer style */
footer {
  padding-bottom: 200px;
}

footer .social {
  margin-bottom: 0;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
  #toggle-menu,
  #logo,
  .logo-div,
  footer .mail {
    display: none;
  }

  #navbar {
    display: block;
  }

  .extra-bold {
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
  }

  .regular {
    line-height: 32px;
  }

  .social li a {
    font-size: 24px;
  }

  /* Header */
  header {
    justify-content: center;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
  }

  #headline {
    background: url(assets/img/Header-llustration-desktop.svg);
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 170px;
    padding-bottom: 100px;
    z-index: 0;
  }

  ul.desktop-nav {
    display: flex;
    justify-content: center;
  }

  .desktop-nav li a {
    display: block;
    padding: 0 20px;
    font-size: 18px;
  }

  /* Work section */
  .title::after {
    display: none;
  }

  .work-grid {
    margin: 20px auto;
  }

  /* About section */
  #about-bg {
    background: url(assets/img/illustration-about-me-desktop.svg);
    background-position-x: center;
    background-repeat: no-repeat;
  }

  /* Contact section */
  section#contact {
    background: url(assets/img/contact-bg.svg);
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    padding-bottom: 200px;
  }

  .contact-sect {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-sect h2 {
    flex: 5;
    padding-right: 10px;
    text-align: left;
  }

  #contact-form {
    flex: 6;
    align-items: flex-start;
  }

  /* Footer section */
  footer {
    padding: 5px;
    border-top: 1px solid #dfe1e6;
  }
}

@media only screen and (min-width:775px) {
  .container {
    width: 80%;
    padding: 30px 0;
  }

  .container1 {
    width: 60%;
  }
}
